@use "sass:math";
@import "variables";
@import "mixins";

button {
  justify-content: left;
  outline: none;
  width: 20rem;
  text-align: center;
  line-height: normal;
  display: inline-flex;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
  color: $white;
  background-color: $buttonBackground;
  border-radius: 0.2rem;
  border-color: $blue3;
  border-style: solid;
  &:hover {
    background-color: $blue4;
    color: $black;
  }
}

.nextButton {
  justify-content: center;
  font-size: 2rem;
  margin-top: 0.5rem;
  width: math.div(20rem, 2);
  &:hover {
    background-color: $green1;
    border-color: $green2;
  }
}

.newGameButton {
  justify-content: center;
  font-size: 2rem;
  margin-top: 0.5rem;
  width: 20rem;
  &:hover {
    background-color: $blue4;
    border-color: $black;
  }
}

.winState {
  @include winStateColors;
  &:hover {
    @include winStateColors;
  }
}

.loseState {
  @include loseStateColors;
  &:hover {
    @include loseStateColors;
  }
}

.equalState {
  @include equalStateColors;
  &:hover {
    @include equalStateColors;
  }
}
