@import "variables";

.cardHeadline {
  display: flex;
  justify-content: space-between;
  width: 19rem;
  height: 2.5rem;
  color: $white;
  padding-top: 0.5rem;
  font-size: 1rem;
}

body {
  background-color: $black;
  height: "100vh";
  min-height: "100vh";
  font-weight: 400;
  font-style: normal;
  font-family: "Ubuntu";
}

.buttonSpacer {
  padding: 0.5rem;
}

.image {
  width: 20rem;
  height: auto;
  padding: 0.5rem;
}

.card {
  border-radius: 0.4rem;
  border-color: $cardBorder;
  border-style: solid;
  width: 21rem;
  margin: 0.5rem;
  background-color: $cardBackground;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gameLayout {
  display: flex;
  justify-content: center;
}
