@import "variables";
@import "mixins";

.headline {
  @include headline;
  height: 2.5rem;
  width: 19rem;
}

.playerHeadline {
  @include turnHeadline;
}

.opponentHeadline {
  @include turnHeadline;
  justify-content: right;
}

.infoboxHeadline {
  @include headline;
  height: 1.5rem;
  width: 19rem;
  border-bottom: 0.15rem solid $cardBorder;
  margin-bottom: 0.5rem;
}

.listItem {
  text-align: left;
  font-size: 1rem;
  color: $white;
  justify-content: left;
  width: 19rem;
  padding: 0.25rem 0;
}

body {
  background-color: $black;
  height: "100vh";
  min-height: "100vh";
  font-weight: 400;
  font-style: normal;
  font-family: "Ubuntu";
}

.buttonSpacer {
  padding: 0.5rem;
}

.image {
  width: 20rem;
  height: auto;
  padding: 0.5rem;
}

.card {
  @include cardObject;
  border-radius: 0.4rem;
  border: 0.25rem solid $cardBorder;
  background-color: $cardBackground;
  flex-direction: column;
}

.gameLayout {
  display: flex;
  justify-content: center;
}

.colLayout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.winMessage {
  @include cardObject;
  height: 30rem;
  font-size: 4rem;
  color: $green1;
}

.loseMessage {
  @include cardObject;
  height: 30rem;
  font-size: 4rem;
  color: $red1;
}

.equalMessage {
  @include cardObject;
  height: 30rem;
  font-size: 4rem;
  color: $blue4;
}

.errorMessage {
  width: 80%;
  margin: 0.5rem 0.5rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  font-size: 2rem;
  color: $red1;
}
